<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isel.alsrm_android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application.ALSrmAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.ECG_Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.EEG_Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.EMG_Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.SPO2_Activity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".QRCode.ScannerQRCode" />

        <provider
            android:name=".Database.AlsrmProvider"
            android:authorities="isel.alsrm_android.Database"
            android:exported="false" />

        <service
            android:name=".Bluetooth.ManageConnectedSocket"
            android:exported="false" />
        <service
            android:name=".Service.DeadlineService"
            android:exported="false" />
        <service
            android:name=".Service.UpdateService"
            android:exported="false" />
        <service
            android:name=".Service.UploadService"
            android:exported="false" />

        <receiver
            android:name=".Receiver.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Receiver.NotificationDeadline"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.NotificationUpdate"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>